@page "/LogApplication"
@inherits LogApplicationErrorView

<div class="сontainer">
        <div class="d-flex justify-content-center">
            <div class="col-4 col-md-auto" style="margin-left:3%">
                <br />
                <h3 style="margin-left: 20%;">LogApplicationError</h3>
                @if (Model != null)
                {
                    <div class="d-flex justify-content-between" style="margin-right:50px">
                        <input type="date" class="form-control-sm" placeholder="Поиск..." @bind-value="@FilterValue" @bind-value:event="oninput" />
                        <input style="margin-left:10px;" type="text" class="form-control-sm" placeholder="Search..." @bind-value="@FilterError" @bind-value:event="oninput" />
                        <MudButton Style="left:3%" Variant="Variant.Outlined" @onclick="(() => Error(mCurrentItem))">Error</MudButton>
                    </div>
                }
                <br />
            </div>
        </div>
    </div>
    @if (Model == null)
    {
        <MudGrid Justify="Justify.Center" Style="align-items: center; margin-top:250px">
            <MudProgressCircular Color="Color.Error" Size="Size.Large" Indeterminate="true" Style="position:absolute" />
        </MudGrid>
    }
    else
    {
        <MudTable Elevation="14" Items="@Model" SortLabel="Sort" FixedHeader="true" Height="600px" Style="width: 90%; margin-left: 5%">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.ViewModel.LogApplicationErrorViewModel, object>(x=>x.LogApplicationErrorId)">
                        #
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.ViewModel.LogApplicationErrorViewModel, object>(x=>x.InsertDate)">
                        Date
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.ViewModel.LogApplicationErrorViewModel, object>(x=>x.ErrorContext)">
                        ErrorContext
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.ViewModel.LogApplicationErrorViewModel, object>(x=>x.ErrorMessage)">
                        Message
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Data.ViewModel.LogApplicationErrorViewModel, object>(x=>x.ErrorInnerException)">
                        InnerEx
                    </MudTableSortLabel>
                </MudTh>
                @* <MudTh>
                    <MudTooltip Text="Экспорт в Excel">
                        <MudIconButton Icon="@Icons.Custom.FileFormats.FileExcel" Color="Color.Success" @onclick="(() => ExportToExcel(CurrentItem))"></MudIconButton>
                    </MudTooltip>
                    
                    <MudIconButton Icon="@Icons.Material.Filled.DoneAll" @onclick="AllChange"></MudIconButton>
                    <MudMenu AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin" FullWidth="true">
                        <ActivatorContent>
                            <MudTooltip Text="Удалить">
                                <MudButton Color="Color.Error" Variant="Variant.Outlined" aria-label="delete">Удалить</MudButton>
                            </MudTooltip>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem @onclick="DeleteAllItemsAsync">Удалить всё</MudMenuItem>
                            <MudMenuItem @onclick="(() => DeleteSelectedItemAsync())">Удалить выбранные элементы</MudMenuItem>
                            @* @if (Model.FindIndex(Enable))
                            {
                                <MudMenuItem @onclick="(() => DeleteSelectedItemAsync())">Удалить выбранные элементы</MudMenuItem>
                            }
                            else
                            {

                            }

                        </ChildContent>
                    </MudMenu>
                </MudTh> *@
                <MudTh>
                </MudTh>
            </HeaderContent>
            <RowTemplate Context="item">
                <MudTd DataLabel="#">@item.LogApplicationErrorId</MudTd>
                <MudTd DataLabel="Date">@item.InsertDate</MudTd>
                <MudTd DataLabel="ErrorContext">@item.ErrorContext</MudTd>
                <MudTd DataLabel="Message">@item.ErrorMessage</MudTd>
                <MudTd DataLabel="InnerEx">@item.ErrorInnerException</MudTd>
                @* <MudTd>
                    <MudTooltip Text="StackTrace">
                        <MudIconButton Icon="@Icons.Material.Filled.Info" @onclick="(() => OpenDialog(item))"></MudIconButton>
                    </MudTooltip>
                    @if(item.IsDeleted == true)
                    {
                        <MudTooltip Text="Восстановить">
                            <MudIconButton Icon="@Icons.Material.Outlined.Restore" @onclick="(() => RestoreItemAsync(item))"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="Удалить">
                            <MudIconButton Icon="@Icons.Material.Outlined.DeleteForever" Color="Color.Error" aria-label="delete" @onclick="(() => DeleteItemForeverAsync(item))"></MudIconButton>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Удалить">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" @onclick="(() => DeleteItemAsync(item))"></MudIconButton>
                        </MudTooltip>
                    }
                    @if (item.IsEnableDelete == true)
                    {
                        <input type="checkbox" checked @onchange='()=> Change(item)' />
                    }
                    else
                    {
                        <input type="checkbox" @onchange='()=> Change(item)' />
                    }
                </MudTd> *@
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{50, 100}" />
            </PagerContent>
        </MudTable>
    }
