@page "/Project"

@inherits ProjectView

<div class="сontainer">
    <div class="d-flex justify-content-center">
        <div class="col-4 col-md-auto">
            <div class="my-3 text-center">
                <h3>Project</h3>
            </div>
            <div class="my-3 text-center">
                <MudStack Row="true">
                    <input type="text" class="form-control-sm" placeholder="Search..." @bind-value="@FilterValue" @bind-value:event="oninput" />
                    <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.Add" @onclick="AddItemDialog">Add</MudButton>
                </MudStack>
                @* <input type="text" class="form-control-sm" placeholder="Search..." @bind-value="@FilterValue" @bind-value:event="oninput" />
                <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.Add" @onclick="AddItemDialog">Add</MudButton> *@
            </div>
            <br />
        </div>
    </div>
</div>
@if (Model == null)
{
    <MudGrid Justify="Justify.Center" Style="align-items: center; margin-top:250px">
        <MudProgressCircular Color="Color.Error" Size="Size.Large" Indeterminate="true" Style="position:absolute" />
    </MudGrid>
}
else
{
    <MudTable Elevation="14" Items="@Model" SortLabel="Sort" FixedHeader="true" Height="600px" Style="width: 90%; margin-left: 5%">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Data.ViewModel.ProjectViewModel, object>(x=>x.ProjectId)">
                    #
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
                <MudTableSortLabel SortBy="new Func<Data.ViewModel.ProjectViewModel, object>(x=>x.Title)">
                    Title
                </MudTableSortLabel>
            </MudTh>
            <MudTh>
            </MudTh>
        </HeaderContent>
        <RowTemplate Context="item">
            <MudTd DataLabel="#">@item.ProjectId</MudTd>
            <MudTd DataLabel="Title">@item.Title</MudTd>
            <MudTd>
                <MudTooltip Text="Edit">
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Default" @onclick="(() => EditItemDialog(item))"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Delete">
                    <MudIconButton Icon="@Icons.Material.Outlined.DeleteForever" Color="Color.Error" aria-label="delete" @onclick="(() => DeleteItemAsync(item))"></MudIconButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{50, 100}" />
        </PagerContent>
    </MudTable>
}

